<!DOCTYPE html>
<html>
  <head>
    <title>Patent Year Distribution</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- 引入 ECharts 文件 -->
    {% load static %}
    <script src="{% static 'echarts.js' %}"></script>
  </head>
  <body>
    <div class="container mt-3">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" href="/result?q={{ request.GET.q }}">专利集合</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="">专利的年度分布</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/innovation?q={{ request.GET.q }}"
            >领域创新主体计量/分布</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/network?q={{ request.GET.q }}"
            >领域合作网络及测度</a
          >
        </li>
      </ul>

      <div class="tab-content">
        <div id="graph_dist" class="container tab-pane active">
          <br />
          <div id="distribution_line" style="width: 600px; height: 400px"></div>
          <div id="distribution_bar" style="width: 600px; height: 400px"></div>
        </div>
      </div>
    </div>

    <script>
      var dist_line = echarts.init(document.getElementById('distribution_line'));
      var dist_bar = echarts.init(document.getElementById('distribution_bar'));

      var dist_lineOption = {
          xAxis: {
              type: 'category',
              data: {{ years|safe }}
          },
          yAxis: {
              type: 'value'
          },
          series: [{
              data: {{ counts|safe }},
              type: 'line'
          }]
      };
      dist_line.setOption(dist_lineOption);

      var dist_barOption = {
          // ECharts 配置项
          xAxis: {
              type: 'category',
              data: {{ years|safe }}
          },
          yAxis: {
              type: 'value'
          },
          series: [{
              data: {{ counts|safe }},
              type: 'bar'
          }]
      };
      dist_bar.setOption(dist_barOption);
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
