<!DOCTYPE html>
<html>
  <head>
    <title>Patent Year Distribution</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- 引入 ECharts 文件 -->
    {% load static %}
    <script src="{% static 'echarts.js' %}"></script>
    <link href="{% static 'CSS/distribution.css' %}" rel="stylesheet" />
  </head>
  <body>
    <script src="{% static 'JS/downloadReport.js' %}"></script>
    <div class="container mt-3">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" href="/result?q={{ request.GET.q }}">专利集合</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="">专利的年度分布</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/innovation?q={{ request.GET.q }}"
            >领域创新主体计量/分布</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/network?q={{ request.GET.q }}"
            >领域合作网络及测度</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/"> 返回搜索</a>
        </li>
      </ul>
      <button onclick="downloadReport()" class="btn btn-primary">
        下载分析报告
      </button>

      <div class="tab-content">
        <div id="graph_dist" class="container tab-pane active">
          <br />
          <h4>专利年度分布折线图</h4>
          <div id="distribution_line" style="width: 600px; height: 400px"></div>
          <h4>专利年度分布柱状图</h4>
          <div id="distribution_bar" style="width: 600px; height: 400px"></div>
          <h4>结论</h4>
          <div id="conclusion">
            <div
              id="write_area"
              contenteditable="true"
              onclick="editConclusion()"
            >
              最多专利的年份是:
              <span id="mostPatentsYear">{{ most_patents_year }}</span>.
              最少专利的年份是:
              <span id="leastPatentsYear">{{ least_patents_year }}</span>.
            </div>
            <span id="comments">添加更多结论或注释...</span>
            <button id="save_button" onclick="saveUserNotes()">保存注释</button>
          </div>
        </div>
      </div>
    </div>
    <script>
      {% comment %} Display Graph {% endcomment %}
      var dist_line = echarts.init(document.getElementById('distribution_line'));
      var dist_bar = echarts.init(document.getElementById('distribution_bar'));

      var dist_lineOption = {
          xAxis: {
              type: 'category',
              data: {{ years|safe }}
          },
          yAxis: {
              type: 'value'
          },
          series: [{
              data: {{ counts|safe }},
              type: 'line'
          }]
      };
      dist_line.setOption(dist_lineOption);

      var dist_barOption = {
          xAxis: {
              type: 'category',
              data: {{ years|safe }}
          },
          yAxis: {
              type: 'value'
          },
          series: [{
              data: {{ counts|safe }},
              type: 'bar'
          }]
      };
      dist_bar.setOption(dist_barOption);

      {% comment %} Conclusion Part {% endcomment %}
      function editConclusion() {
        var conclusion = document.getElementById('conclusion');
        var comments = document.getElementById('comments');
        var writeArea = document.getElementById('write_area')
        var saveButton = document.getElementById('save_button');

        writeArea.style.minHeight = '100px';
        conclusion.onclick = function(event) {
          comments.style.display = 'none';
          event.stopPropagation();
          saveButton.style.display = 'block';

        };

        document.onclick = function() {
          saveButton.style.display = 'none';
        };
      }

      {% comment %} To-DO: Save Notes {% endcomment %}

      {% comment %} Print {% endcomment %}
      function saveChartData(chartId, chartInstance) {
        chartInstance.on('finished', function () {
          var imageData = chartInstance.getDataURL({
            type: 'png',
            pixelRatio: 2,
            backgroundColor: '#fff',
          })

          localStorage.setItem(chartId, imageData)
        })
      }

      saveChartData('distributionLineChart', dist_line);
      saveChartData('distributionBarChart', dist_bar);
      const textData = document.getElementById('write_area').innerText;
      localStorage.setItem('distributionText', textData);
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
