<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>Patent Year Distribution</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="{% static 'JS/echarts.js' %}"></script>
    <script src="{% static 'JS/echarts.min.js' %}"></script>
    <script src="{% static 'JS/china.js' %}"></script>
    <script src="{% static 'JS/china_province_geo.js' %}"></script>
    {% comment %}
    <script src="{% static 'JS/html2canvas.min.js' %}"></script>
    {% endcomment %}

    <link href="{% static 'CSS/styles.css' %}" rel="stylesheet" />
  </head>
  <body>
    <script src="{% static 'JS/download-report.js' %}"></script>
    <script type="module" src="{% static 'JS/innovation.js' %}"></script>
    <div class="container mt-3">
      <div class="navbar-container">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link" href="/result?q={{ request.GET.q }}"
              >专利集合</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/distribution?q={{ request.GET.q }}"
              >专利的年度分布</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#graph_inno"
              >领域创新主体计量/分布</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/network?q={{ request.GET.q }}"
              >领域合作网络及测度</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/wordcloud?q={{ request.GET.q }}"
              >词云图</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/"> 返回搜索</a>
          </li>
        </ul>
        <button onclick="downloadReport()" class="btn btn-primary">
          下载分析报告
        </button>
      </div>

      <div class="tab-content">
        <div id="graph_inno" class="container tab-pane active">
          <br />
          <h4 id="title4">领域创新主体分布地域图</h4>
          <div id="innovation_map" style="width: 900px; height: 700px"></div>
          <h4 id="title3">领域创新主体计量柱状图</h4>
          <div id="innovation_bar" style="width: 600px; height: 400px"></div>
          <div class="conclusion">
            <div class="conclusion-row">
              <h4 class="conclusion-row-label">结论</h4>
              <button id="conclusion-analyze-button" class="btn btn-primary">
                分析图表
              </button>
            </div>
            <div id="loading" style="display: none">
              <div class="loading-icon"></div>
              <div class="loading-text">正在生成回答，请稍候...</div>
            </div>
            <div
              id="write-area"
              contenteditable="true"
              onclick="editConclusion()"
            ></div>
            <span id="comments">添加更多结论或注释...</span>

            <button
              id="save-button"
              class="btn btn-light"
              onclick="saveUserNotes()"
            >
              保存注释
            </button>
          </div>
        </div>
      </div>
    </div>

    <script>
      var inno_bar = echarts.init(document.getElementById('innovation_bar'));
      var inno_map = echarts.init(document.getElementById('innovation_map'));

      function cleanName(name) {
        return name.replace(/省|市/g, '');
      }

      var provinces = {{ provinces|safe }};
      var province_count = {{ province_count|safe }};

      var data = provinces.map(function(province, index) {
          return {
              name: cleanName(province),
              value: province_count[index]
          };
      });

      var inno_barOption = {
          xAxis: {
              type: 'category',
              data: provinces
          },
          yAxis: {
              type: 'value'
          },
          series: [{
              data: province_count,
              type: 'bar'
          }]
        };
      inno_bar.setOption(inno_barOption);

      var inno_mapOption = {
        visualMap: {
          min: 0,
          max: Math.max.apply(null, province_count),
          left: 'left',
          top: 'bottom',
          text: ['高', '低'],
          calculable: true,
          inRange: {
              color: ['#e0ffff', '#006edd']
          }
        },
        series: [
          {
            type: 'map',
            map: 'china',
            data: data,
            label: {
                show: true,
                formatter:function(params) {
                    // 如果数值存在且不为零，则显示省份名称和数值
                    if (params.value) {
                        return params.name + '\n' + params.value;
                    }
                    // 否则，不显示标签
                    return '';
                }
            }
          }
        ]
      };
      inno_map.setOption(inno_mapOption);

      const textData = document.getElementById('write-area').innerText;
      localStorage.setItem('innovationText', textData);

      const title3 = document.getElementById('title3').innerText;
      localStorage.setItem('titleText3', title3);
      saveChartData('innovationBarChart', inno_bar);

      const title4 = document.getElementById('title4').innerText;
      localStorage.setItem('titleText4', title4);
      saveChartData('innovationMapChart', inno_map);

      {% comment %} setTimeout(function() {
        html2canvas(document.getElementById('innovation_map')).then(canvas => {
          var base64Image = canvas.toDataURL('image/png');
          localStorage.setItem('innovationMapChart', base64Image);
        });
      }, 15000); {% endcomment %}
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
