<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>Patent Year Distribution</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link href="{% static 'CSS/styles.css' %}" rel="stylesheet" />
    <script src="{% static 'JS/echarts.js' %}"></script>
    <script src="{% static 'JS/html2canvas.min.js' %}"></script>
  </head>
  <body>
    <script src="{% static 'JS/download-report.js' %}"></script>
    <div class="container mt-3">
      <div class="navbar-container">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link" href="/result?q={{ request.GET.q }}"
              >专利集合</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/distribution?q={{ request.GET.q }}"
              >专利的年度分布</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/innovation?q={{ request.GET.q }}"
              >领域创新主体计量/分布</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/network?q={{ request.GET.q }}"
              >领域合作网络及测度</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#graph-wordcloud">词云图</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/"> 返回搜索</a>
          </li>
        </ul>
        <button onclick="downloadReport()" class="btn btn-primary">
          下载分析报告
        </button>
      </div>

      <div class="tab-content">
        <div id="graph-wordcloud" class="container tab-pane active">
          <br />
          <h4 id="title6">词云图</h4>
          {% if wordcloud_image %}
          <div>
            <img
              src="{{ wordcloud_image }}"
              alt="Word Cloud Image"
              style="max-width: 100%; height: auto"
            />
          </div>
          {% else %}
          <p>No word cloud available for this query.</p>
          {% endif %}
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
