#summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#download {
  display: flex;
  align-items: center;
}

#download p,
#download a {
  margin: 0;
  margin-left: 10px;
}

#download img {
  height: 30px;
}

thead {
  text-align: center;
}

.number {
  text-align: center;
  width: 10%;
}

.title {
  font-size: large;
  font-weight: bold;
  width: 40%;
}

.year {
  text-align: center;
  width: 10%;
}

.abstract {
  width: 40%;
}

.pagination {
  justify-content: center;
}
